// font-size
$font-size-base: 20px;
$font-size-sm: 24px;
$font-size-md: 64px;
$font-size-lg: 80px;

// font-weight
$textWeight-Medium: 500;
$textWeight-Bold: 700;
$textWeight-Black: 900;

// color
$darkBlock: #fff;
$lightBlock: #000;
$listStyle: #891818;

// line-height
$lineHeight-xs: 30px;
$lineHeight-sm: 36px;
$lineHeight-md: 42px;
$lineHeight-lg: 75px;
$lineHeight-xl: 94px;

// spacing
$spacing-1: 8px;



